form {
  width: 600px;
  max-width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  input {
    margin-top: 15px;
    border-radius: 5px;
    padding: 10px;
    font-size: larger;
    height: 3rem;
    color: $white;
    border: 2px solid $primaryDark;
    background-color: $primaryDarkTransparent;
    width: 100%;
    margin-bottom: 20px;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: rgba(255, 255, 255, 0.6);
    }
  }

  textarea {
    border-radius: 5px;
    padding: 10px;
    font-size: larger;
    color: $white;
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
    border: 2px solid $primaryDark;
    background-color: $primaryDarkTransparent;
    resize: none;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: rgba(255, 255, 255, 0.6);
    }
  }

  Button {
    margin-top: 15px;
  }
}
